<div class="list-groups">
  <div style="display: flex; width: 100%;">
    <div style="width: 150px;" ><b>Name</b></div>
    <div style="width: 200px;" >Issuer</div>
    <div style="width: 100px;" >Date</div>
  </div>
  <hr>
  {% assign certificates = data[1] | sort: 'date' | reverse %}
  {% for content in certificates %}
  <div style="display: flex; width: 100%;">
    <div style="width: 150px;" ><b>{{ content.name }}</b></div>
    <div style="width: 200px;" >{{ content.issuer }}</div>
    <div style="width: 100px;" >{{ content.date }}</div>
  </div>
  {% endfor %}
</div>