<div class="list-groups">
  {% for content in data[1] %}
  <div class="list-group col-md-6" title="{{ content.level }}">
    <table class="table-cv list-group-table">
      <h5>{{ content.name }}</h5>
      <tbody class="list-group-body">
        {% for item in content.list %}
        <tr class="list-group-contents">
          <td class="list-group-name">
            <img src={{ item.icon }} alt="{{ item.name }}">
            {{ item.name }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>